<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl>
    <dt><%= f.label :email %></dt><dd><%= f.text_field :email %></dd>
    <dt><%= f.label :role %></dt><dd><%= f.enum_select :role, :selected => :admin, :disabled => :anonymous, :include_blank => false %></dd>
    <dt><%= f.label :password %></dt><dd><%= f.password_field :password %></dd>
    <% unless @user.persisted? %>
      <dt><%= f.label :password_confirmation %></dt><dd><%= f.password_field :password_confirmation %></dd>
    <% end %>
  </dl>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
