<h1>Users</h1>
<hr/>
<ul class="links">
  <li><%= link_to 'New user', new_user_path %></li>
</ul>

<table class="resources">
  
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Action</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, user %></td>
    <td><%= user.role.capitalize %></td>
    <td>
      <ul class="links">
        <li><%= link_to 'Edit', edit_user_path(user) %></li>
        <li><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></li>
      </ul>
    </td>
  </tr>
<% end %>

</table>


