<h1><%= @user.email ? @user.email[/(.+)@/, 1] : @user.uuid %></h1>
<hr/>
<ul class="links">
  <li><%= link_to 'Edit', edit_user_path(@user) %></li>
  <li><%= link_to 'Back', users_path %></li>
</ul>

<dl class="resource">
  <dt>Email</dt><dd><%= mail_to @user.email %></dd>
  <dt>Authentication Token</dt>
  <dd>
    <% unless @user.authentication_token.blank? %>
      <span><%= @user.authentication_token %></span> |
      <%= link_to "Re-Generate", auth_tokens_path(:id => @user.id), :method => :post, :confirm => "Are you sure?"  %> |
      <%= link_to "Revoke", auth_token_path(@user), :method => :delete, :confirm => "Are you sure?"  %>
    <% else %>
      <%= link_to "Generate", auth_tokens_path(:id => @user.id), :method => :post %>
    <% end %>
  </dd>
</dl>
