<h1>Identify Yourself!</h1>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name, :class => 'uniForm')) do |f| %>
  <%= devise_error_messages! %>
  <%= field_set_tag do %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input  :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <% end %>
  <ul class="actions">
    <li><%= f.submit "Sign in", :class => 'primary' %></li>
  </ul>
<% end %>

<%= render :partial => "devise/shared/links" %>
