<!DOCTYPE html>
<html>
<head>
  <title>Kratos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <%= render 'devise/menu/su_items' %>
  </header>
  <div class="flash" id="flash-main">
    <%= content_tag(:p, notice, class: 'notice') if notice %>
    <%= content_tag(:p, alert,  class: 'alert' ) if alert  %>
  </div>
  <%= yield %>
</body>
</html>
