<!DOCTYPE html>
<html>
<head>
  <title>Kratos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <%= render 'devise/menu/su_items' %>
  </header>
  <div class="flash" id="flash-main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <%= yield %>
</body>
</html>
