<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Facebook:</b>
  <%= @member.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @member.twitter %>
</p>

<p>
  <b>Www:</b>
  <%= @member.www %>
</p>

<p>
  <b>Phone:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Birthday:</b>
  <%= @member.birthday %>
</p>

<p>
  <b>Biography:</b>
  <%= @member.biography %>
</p>

<p>
  <b>Birthday:</b>
  <%= @member.birthday %>
</p>

<p>
  <b>Deceased at:</b>
  <%= @member.deceased_at %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
